<h3>Customers</h3>
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Membership</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{ error }}</td>
    </tr>
    <tr></tr>
    <tr *ngFor="let customer of customers$ | async">
      <th scope="row">{{ customer.name }}</th>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.membership }}</td>
      <th>
        <a (click)="editCustomer(customer)">edit</a>
        <br />
        <a (click)="deleteCustomer(customer)">delete</a>
      </th>
    </tr>
  </tbody>
</table>
